db_name             = "my_database"
db_admin_password   = "adminpassword123"
db_user_password    = "mypassword123"
db_user_username    = "myusername123"

wp_admin_username   = "wpadmin"
wp_admin_password   = "adminpassword123"
wp_user_username    = "foo"
wp_user_password    = "foopassword123"